<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amandeep.abhichat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CropImage" />
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AllUserFragmnt" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterUserAcitivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".StartActivity">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoviewPly"></activity>
        <activity android:name=".MapViewActivity"/>
        <activity android:name=".ImageActivity"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANXJoo1l8XgxkvnBACcMY4entGGnFT8Q4"/>
    </application>

</manifest>